<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrdrwnoQPDE2-cj7Ae8H3zWzE1vgTCdSU</string>
	<key>GCM_SENDER_ID</key>
	<string>723908145827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surpriseAlarms.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>surprise-alarms</string>
	<key>STORAGE_BUCKET</key>
	<string>surprise-alarms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723908145827:ios:292ca5be5b255a1d858516</string>
</dict>
</plist>